version: "3.9"

services:
  hitl:
    image: mohitkumhar/ai-support-hitl:latest
    container_name: ai-support-hitl
    ports:
      - "8080:8501"
    env_file:
      - ./.env
    restart: unless-stopped
    depends_on:
      - mongo
      - mongo-express
    volumes:
      - ./logs:/app/logs # Ensure your app writes logs to /app/logs inside the container


  mongo:
    image: mongo:6
    container_name: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
      - ./import:/data/import
    restart: unless-stopped


  mongo-express:
    image: mongo-express:1
    container_name: mongo-express
    ports:
      - "8081:8081"
    environment:
      ME_CONFIG_MONGODB_URL: ${MONGO_URI:-mongodb://mongo:27017}
      ME_CONFIG_BASICAUTH_USERNAME: admin
      ME_CONFIG_BASICAUTH_PASSWORD: admin
    depends_on:
      - mongo
    restart: unless-stopped


  loki:
    image: grafana/loki:3.2.1
    container_name: loki
    ports:
      - "3100:3100"


  promtail:
    image: grafana/promtail:3.2.1
    container_name: promtail

    ports:
      - "9080:9080"

    volumes:
      - ./promtail-config.yml:/etc/promtail/config.yml
      - ./logs:/var/log/app_logs
    command: -config.file=/etc/promtail/config.yml
    depends_on:
      - loki


  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    
    depends_on:
      - loki

    restart: unless-stopped

volumes:
  mongo_data:
