name: Basic CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]


jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Checking Linting
      run: |
        echo "Testing CI..."
        echo "CI Test Completed Successfully!"
